@import '../../../variables.scss';

.burgers_list {
  display: flex;
  gap: 2rem;
  transition: height .3s ease-out;

  @media screen and #{$tablet} {
    flex-direction: column;
    max-width: $tablet-max-width;
  }

  @media screen and #{$big-tablet} {
    max-width: $big-tablet-max-width;
  }

  @media screen and #{$small-desktop} {
    flex-direction: row;
    max-width: $desktop-max-width;
  }
}