@import '../../variables.scss';

.location {
  margin: 15rem auto 0;
  max-width: $desktop-max-width;

  &_contacts {
    display: flex;
    font-size: 2.4rem;
    gap: 3rem;
    justify-content: center;
    margin-top: 3rem;

    &_heading {
      font-weight: 700;
    }
  }

  &_map {
    display: block;
    border-radius: 3rem;
    height: 48rem;
    margin: 3rem auto 0;
    width: 86rem;
  }
}