@import '../../variables.scss';

.ingredients {
  margin-top: 12rem;
  max-width: $small-mobile-max-width;

  @media screen and #{$mobile} {
    max-width: $mobile-max-width;
  }

  @media screen and #{$tablet} {
    margin-top: 10rem;
    max-width: $tablet-max-width;
  }

  @media screen and #{$big-tablet} {
    max-width: $big-tablet-max-width;
  }

  @media screen and #{$small-desktop} {
    max-width: $desktop-max-width;
  }

  &_small-heading {
    margin: 2rem auto 0;
    max-width: 69rem;
    text-align: center;
  }

  &_item {
    box-shadow: $shadow;
    border-radius: 2.6rem;
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    justify-content: space-between;
    padding: 2rem 1rem;
    width: 18rem;

    &:last-child {
      margin-right: 0;
    }

    @media screen and #{$tablet} {
      height: 24rem;
      width: 23rem;
    }

    &_image {
      max-height: 10rem;

      @media screen and #{$tablet} {
        max-height: 16rem;
      }
    }
  }

  &_description {
    margin: 0 auto;
    max-width: 90rem;
    text-align: center;
  }

}