.carousele {
  display: flex;
  position: absolute;
  top: 1rem;
  transition: transform .3s ease-out;
  transform: translateX(0);

  &_wrapper {
    height: 26rem;
    margin: 4rem 0;
    overflow: hidden;
    padding: 1rem;
    position: relative;

    &::before, &::after {
      content: '';
      height: 100%;
      position: absolute;
      width: 18rem;
      z-index: 1;
    }

    &::before {
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF);
      left: 0;
      top: 0;
    }

    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF);
      right: 0;
      top: 0;
    }

  }
}