@import '../../variables.scss';

.navigation {
  
  &_list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    @media screen and #{$small-desktop} {
      flex-direction: row;
      gap: 7rem;
    }

    &_item {
      &_link {
        border-bottom: 1px solid transparent;
        font-weight: 700;
        transition: border-bottom .3s ease-out;

        @media screen and #{$small-desktop} {
          &:hover {
            border-bottom: 1px solid $text-color;
          }
        }
      }
    }
  }

  @media screen and #{$small-desktop} {
    flex: 1;
  }

}