@import '../../../variables.scss';

.burger-card {
  position: relative;
  border-radius: 2.6rem;
  box-shadow: $shadow;
  overflow: hidden;
  padding: 2rem;
  width: 34rem;
  transition: height .3s ease-out;

  @media screen and #{$tablet} {
    width: 44rem;
  }

  &_heading {
    margin: 0;
    text-align: center;
  }

  &_image {
    margin: 2rem auto 2.3rem;
    max-width: 22rem;

    @media screen and #{$tablet} {
      margin: 6rem auto 6.7rem;
    }
  }
}

.max-height {
  &__open {
    height: 47rem;

    @media screen and #{$tablet} {
      height: 55rem;
    }
  }
  &__close {
    height: 35.2rem;

    @media screen and #{$tablet} {
      height: 40.4rem;
    }
  }
}