@import '../../variables.scss';

.header {
  box-shadow: $shadow;
  width: 100%;

  &_wrapper {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $desktop-max-width;
    padding: 2.9rem 0;
  }
}