@import '../../variables.scss';

.header {
  box-shadow: $shadow;
  position: relative;
  width: 100%;

  &_wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $small-mobile-max-width;
    padding: 2.9rem 0;

    @media screen and #{$mobile} {
      max-width: $mobile-max-width;
    }
  
    @media screen and #{$tablet} {
      gap: 10rem;
      max-width: $tablet-max-width;
    }
  
    @media screen and #{$big-tablet} {
      max-width: $big-tablet-max-width;
    }
  
    @media screen and #{$small-desktop} {
      max-width: $desktop-max-width;
    }
  }
}