$text-color: #2a2a2a; // standart black color for text
$blue-hover: #0098f7; // blue color for hover effects
$blue-active: #017dca; // blue color for active effects
$shadow: 0 3px 6px rgba(0, 0, 0, .29); // standart shadow

$desktop-max-width: 135rem;
$big-tablet-max-width: 90rem;
$tablet-max-width: 70rem;
$desktop: '(min-width: 1440px)';
$small-desktop: '(min-width: 1152px)'; 
$tablet: '(min-width: 601px)';
$big-tablet: '(min-width: 801px)'; 