@import '../../variables.scss';

.map {
  border-radius: 3rem;
  display: block;
  height: 100%;
  width: 100%;

  &_container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 38rem;
    margin: 3rem auto 0;

    @media screen and #{$tablet} {
      height: 48rem;
    }
  }
}