@import '../../variables.scss';

.banner {
  margin-top: 0;
  overflow: hidden;
  position: relative;

  &::after {
    background: no-repeat top url('../../assets/img/banner-gradient.svg');
    background-size: cover;
    content: '';
    height: 60.4rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @media screen and #{$tablet} {
      height: 48rem;
    }

    @media screen and #{$small-desktop} {
      height: 60.4rem;
    }
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $desktop-max-width;

    @media screen and #{$tablet} {
      max-width: $tablet-max-width;
    }
  
    @media screen and #{$big-tablet} {
      max-width: $big-tablet-max-width;
    }
  
    @media screen and #{$small-desktop} {
      max-width: $desktop-max-width;
    }

  }

  &_content {
    margin-top: 14rem;

    @media screen and #{$tablet} {
      margin-top: 5rem;
    }
  
    @media screen and #{$big-tablet} {
      margin-top: 5rem;
    }
  
    @media screen and #{$small-desktop} {
      margin-top: 14rem;
    }

    &_small-heading {
      margin-bottom: 2rem;
    }

    &_btn {
      background-color: #f6e224;
      border-radius: 1rem;
      display: block;
      font-weight: 700;
      max-height: 4rem;
      max-width: 28rem;
      padding: .75rem 2.6rem .6rem;
      text-align: center;
      transition: background-color .3s ease-out;

      &:hover {
        background-color: #ee9c10;
      }

      &:active {
        background-color: #d68d10;
      }

    }

  }

  &_image {
    margin-top: 5rem;
    max-height: 64rem;
  
    @media screen and #{$tablet} {
      margin-left: 2rem;
      margin-top: 3rem;
      max-height: 44rem;
    }

    @media screen and #{$small-desktop} {
      margin-left: 0;
      margin-top: 5rem;
      max-height: 64rem;
    }

  }
}