@import '../../variables.scss';

.banner {
  position: relative;

  &::after {
    background: no-repeat top url('../../assets/img/banner-gradient.svg');
    background-size: cover;
    content: '';
    height: 60.4rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $desktop-max-width;
  }

  &_content {
    margin-top: 14rem;

    &_small-heading {
      margin-bottom: 2rem;
    }

    &_btn {
      background-color: #f6e224;
      border-radius: 1rem;
      display: block;
      font-weight: 700;
      max-height: 4rem;
      max-width: 28rem;
      padding: .9rem 2.6rem .6rem;
      text-align: center;
      transition: background-color .3s ease-out;

      &:hover {
        background-color: #ee9c10;
      }

      &:active {
        background-color: #d68d10;
      }

    }

  }

  &_image {
    margin-top: 5rem;
  }
}